h1{
    background-color: lightpink;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}